* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    min-height: 100vh;
    min-width: 100vh;
    background-color: #444444;
}
main {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.grid {
    display: flex;
    width: 900px;
    height: 900px;
    flex-wrap: wrap;
}
.square {
    flex: 1 1 fill;
    min-width: 5px;
    min-height: 5px;
    max-width: 50px;
    max-height: 50px;
    border: 1px solid black;
}
.square:hover {
    background-color: black;
}
.reset-btn {
    padding: 8px 16px;
    border: 2px solid #B3541E;
    border-radius: 8px;
    display: block;
    background-color: #362222;
    color: #B3541E;  
}